body {
	font-family: roboto;
	background-color: #333333;
}

.navbar {
	font-size: 1.3em;
}

.navbar-brand {
	font-size: 1.6em;
}

/*.hollbergLogo {
	width: 464;
}*/

.bio-body {
	background-image: url("https://images.unsplash.com/22/brick-wall.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d79dc45ba24cc3d4cf91887f03f02f40");
	/*background-image: url("images/bg.jpg");*/
}

.bio-about {
	color: white;
	margin: auto;
	width: 60%;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
	/*box-shadow: 1px 1px 5px (0, 0, 0);*/
}

.bio-p {
	text-align: justify;
	text-justify: inter-word;
	letter-spacing: 1.8px;
}

.bio-signature {
	text-align: right;
}