body {
	font-family: roboto;
	background-color: #333333;
}

.navbar {
	font-size: 1.3em;
}

.navbar-brand {
	font-size: 1.6em;
}

/*.hollbergLogo {
	width: 464;
}*/

.bio-body {
	background-image: url("../images/bioBG.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.bio-about {
	color: white;
	margin: auto;
	width: 60%;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 10px;
	/*box-shadow: 1px 1px 5px (0, 0, 0);*/
}

.bio-p {
	text-align: justify;
	text-justify: inter-word;
	letter-spacing: 1.8px;
}

.bio-signature {
	text-align: right;
}

.contact-body {
	background-image: url("../images/contactBG.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.contact-about {
	color: white;
	margin: auto;
	width: 60%;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 10px;
	/*box-shadow: 1px 1px 5px (0, 0, 0);*/
}

.contact-p {
	text-align: justify;
	text-justify: inter-word;
	letter-spacing: 1.4px;
}

.contact-info {
	margin-left: 25%;
	margin-right: 50px;
}

